html {
  padding: 0;
  margin: 0;
}


body{
  background: #ded2cf;
}
aside{
  display: block;
  float: right;
  padding: 5px;
  margin: 5px;
   width: 30%;
  background: #aca1a1;
    color: #293249;
  
}
article{
  float: left;
  padding: 5px;
  margin: 5px;
  width: 60%;
   ;
  
}
h1{
  color:#293249;
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 30px;
}
h2{
  color:#293249;
  font-family: "Georgia", serif;
  font-size: 25px;
}
p{
  word-wrap: normal;
  color: #69656f;
  font-family: "arial", sans-serif;
  text-align: left;
  font-size: 15px;
  
}
 
img{
  width:100%;
  max-width: 100%;
}
figcaption{
  color: #293249;
  text-align: center;
  font-family: "arial", sans-serif;
  font-style: italic;
  font-size: 14px;
  
}
.colorsAside{
  color: #293249;
  font-family: "arial", sans-serif;
  font-style: italic;
  font-size: 15px;
}

nav ul{
  text-align: center;
	padding: 0;
}
nav ul li {
  display:inline;
  margin:15px;
  }
footer{
   text-align: center;
	padding: 1px;
  font-size: 10px;
  clear: both;
  
}
#footerWords {
	display: inline-block;
  font-style: italic;
}